body {
    font-family: 'Roboto', sans-serif;
    background-color: #a8a;
    color: #666;
}

small {
    color: #666;
}

h2 {
    padding-top: 0px;
    margin-top: 0px;
}

h2,
h3 {
    color: #333;
    font-weight: inherit;
}

h3 {
    margin-top: 30px;
}

a:link,
a:visited,
a:active {
    color: #339;
}

a:hover {
    color: #66a;
}

address {
    padding-top: 25px;
    font-style: normal;
    text-align: right;
    color: #aaa;
    font-size: small;
}

#root {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

table {
	display:block;
	width:100%;
	overflow:auto
}
table th {
	font-weight:600
}
table th, table td {
	padding:6px 13px;
	border:1px solid #dfe2e5
}
table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1
}
table tr:nth-child(2n) {
	background-color:#f6f8fa
}